@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Share Tech Mono, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Grey top-of-window bar with related companies, stock ticker*/

.topbar {
    background: rgb(11, 11, 17);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: -8px;
}

.topbar-list {
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
    color: rgb(212, 212, 212);
}

.topbar-link {
    color: rgb(212, 212, 212);
    font-size: 14px;
}

.topbar-link:hover {
    color: rgb(255, 255, 255);
}

/*White header with logo*/

#logobox {
    display: flex;
    align-items: center;
    font-size: 64px;
    padding: 48px 48px 8px 48px;
}

#logo {
    max-height: 120px;
    max-width: auto;
}

/*Page navigation*/

.header {
   display: flex;
   justify-content: space-between;
   padding: 0 64px;
   margin: 0 -8px;
   box-shadow: 0 1px 1px gray;
}

.header-list {
    display: flex;
    gap: 1em;
    margin-left: 0;
    padding-left: 0;
}

.header-link-left {
    color: black;
}

.header-link-left:hover {
    color: grey;
}

.header-link-right {
    color: grey;
}

.header-link-right:hover {
    color: rgb(42, 42, 42);
}

/*Who we are*/

#whoweare-container {
    background-image: url(./img/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
}

#whoweare-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 600px;
    width: 1200px;
    color: white;
    font-weight: bold;
    font-size: large;
}

#findouthow {
    color: white;
}

#findouthow:hover {
    text-decoration: underline;
}

/*Core Industries*/

#coreindustries {
    background-color: rgb(11, 11, 17);
    display: flex;
    flex-direction: column;
    padding: 64px 48px;
    margin: -8px;
    color: rgb(212, 212, 212);
    justify-content: space-evenly;
}

#corelist {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-self: center;
}

.coretype {
    width: 200px;
    height: 300px;
    bottom: 0;
    background-color: rgb(41, 110, 121);
    color: rgb(255, 255, 255);
}

.robotics {
    background-image: url(./img/core-robotics.jpg);
    background-size: cover;
}

.hi-en {
    background-image: url(./img/core-hienergy.jpg);
    background-size: cover;
}

.hni {
    background-image: url(./img/core-hni.jpg);
    background-size: cover;
}

.kinetics {
    background-image: url(./img/core-kinetics.jpg);
    background-size: cover;
}

.corelink {
    color: rgb(255, 255, 255);
}

.industry {
    margin: 0;
    padding: 16px;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.industrytitle {
    font-weight: bold;
    text-shadow: 0 0 2px black;
}

.industrybody {
    opacity: 0;
}

.industry:hover {
    background-color: rgba(41, 110, 121, .5);
    box-shadow: 0 0 2px 2px rgba(212, 212, 212, 0.25);
}

.industry:hover > div {
    opacity: 1;
    transition: 0.25s;
}

#knowmore {
    color: rgb(212, 212, 212);
}

#knowmore:hover {
    text-decoration: underline;

}


/*What we do*/

#whatwedo-container {
    background-image: url(./img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
    margin: 8px 0;
}

#whatwedo-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 600px;
    width: 1200px;
    color: white;
    font-weight: bold;
    font-size: large;
}

/*Footer*/

.footer {
    background-color: rgb(11, 11, 17);
    color: rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    margin: -8px -8px;
    min-height: 250px;
    padding: 32px;
}

#footerleft {
    display: flex;
    margin-left: 0;
}

.footer-list {
    margin: 16px;
}

.footer-list:first-child {
    margin: 16px 16px 32px 16px;
}

.footerlinks {
    color: rgb(212, 212, 212);
    font-weight: bold;
}

.footerlinks:hover {
    color: white;
}

#footerright {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#socials {
    display: flex;
    gap: 16px;
    margin-left: 0;
    padding-left: 0;
}

.socialicon {
    max-width: 32px;
    max-height: auto;
}